In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df2=pd.read_csv('all cups.csv')
df2.head()

,Position,Team,Games Played,Win,Draw,Loss,Goals For,Goals Against,Points,year
0,1,Uruguay,4,4,0,0,15,3,8,1930
1,2,Argentina,5,4,0,1,18,9,8,1930
2,3,United States,3,2,0,1,7,6,4,1930
3,4,Yugoslavia,3,2,0,1,7,7,4,1930
4,5,Chile,3,2,0,1,5,3,4,1930

In [3]:
df=pd.read_csv('world cup_final.csv')
df.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,Avg Goals per Game
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,"590,549",3.6
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,"363,000",4.1
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,"375,700",4.7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,"1,045,246",4.0
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,"768,607",5.4

In [4]:
df3=pd.read_csv('worldcupgoals.csv')
df3.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002,2006,2010,2014  Germany
1         Ronaldo     15       1998,2002,2006   Brazil
2     Gerd Muller     14            1970,1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958,1962,1966,1970   Brazil

In [16]:
df_=df2[(df2['Team']=='Argentina') & (df2['Position']<=4)]

In [17]:
df_=df_.iloc[:,[0,9]]

In [18]:
dict={1:'Winner',2:'Runners-Up',3:'Third',4:'Fourth'}
df_.replace({'Position':dict},inplace=True)

In [21]:
df_[df_['Position']=='Winner'].shape[0]

2